/* Dashboard.css */
.dashboard-container {
  transition: background-color 0.3s ease;
}

.dark .dashboard-container {
  background-color: #121212;
  color: white;
}

.dark .bg-white {
  background-color: #282828 !important;
  color: white;
}

.dark .text-gray-600 {
  color: #cccccc;
}

.dark .text-gray-400 {
  color: #999999;
}

.dark .bg-gray-100 {
  background-color: #1e1e1e;
}

.dark .bg-gray-50 {
  background-color: #121212;
}

.dark .shadow {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
}

/* Style dropdowns in dark mode */
.dark select {
  background-color: #282828;
  color: white;
  border: 1px solid #444;
}

.dark select option {
  background-color: #282828;
  color: white;
}

img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}